/.idea
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/EnergyContraption
cmake-build-debug/EnergyContraption.cbp
cmake-build-debug/EnergyContraption.exe
cmake-build-debug/EnergyContraption.ilk
cmake-build-debug/EnergyContraption.pdb
cmake-build-debug/jpeg62.dll
cmake-build-debug/liblzma.dll
cmake-build-debug/libpng16d.dll
cmake-build-debug/libsharpyuv.dll
cmake-build-debug/libwebp.dll
cmake-build-debug/libwebpdecoder.dll
cmake-build-debug/Makefile
cmake-build-debug/opencv_core4d.dll
cmake-build-debug/opencv_highgui4d.dll
cmake-build-debug/opencv_imgcodecs4d.dll
cmake-build-debug/opencv_imgproc4d.dll
cmake-build-debug/opencv_videoio4d.dll
cmake-build-debug/RealWorldDynamic.mp4
cmake-build-debug/RealWorldFocused.mp4
cmake-build-debug/RealWorldVideo.mp4
cmake-build-debug/SimulatedVideo.avi
cmake-build-debug/tiffd.dll
cmake-build-debug/zlibd1.dll
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-9de75c5d749de1ad4905.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c7dc4bb486516511cdfc.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-5479c8ec3b1e75b01d9a.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-04-15T14-20-22-0007.json
cmake-build-debug/.cmake/api/v1/reply/target-EnergyContraption-Debug-45477d1774c45e227984.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ffb6434f9d66dd28afdb.json
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.22.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.22.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.22.1/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.22.1/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/EnergyContraption.dir/build.make
cmake-build-debug/CMakeFiles/EnergyContraption.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/EnergyContraption.dir/compiler_depend.internal
cmake-build-debug/CMakeFiles/EnergyContraption.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/EnergyContraption.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/EnergyContraption.dir/depend.make
cmake-build-debug/CMakeFiles/EnergyContraption.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/EnergyContraption.dir/flags.make
cmake-build-debug/CMakeFiles/EnergyContraption.dir/GeometryFeature.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/GeometryFeature.cpp.o.d
cmake-build-debug/CMakeFiles/EnergyContraption.dir/link.txt
cmake-build-debug/CMakeFiles/EnergyContraption.dir/main.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/main.cpp.o.d
cmake-build-debug/CMakeFiles/EnergyContraption.dir/PCATool.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/PCATool.cpp.o.d
cmake-build-debug/CMakeFiles/EnergyContraption.dir/progress.make
cmake-build-debug/CMakeFiles/EnergyContraption.dir/RectangleTool.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/RectangleTool.cpp.o.d
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/CircleTool.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/CircleTool.cpp.o.d
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/GeometryFeature.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/GeometryFeature.cpp.o.d
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/ImageDebugUtility.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/ImageDebugUtility.cpp.o.d
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/PCATool.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/PCATool.cpp.o.d
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/RectangleTool.cpp.o
cmake-build-debug/CMakeFiles/EnergyContraption.dir/Utilities/RectangleTool.cpp.o.d
cmake-build-debug/Testing/Temporary/LastTest.log
